
<h2>
  <%= @repo_info.name %>
</h2>
<p>
  <%= @project.description %>
</p>
<%=link_to "Owner: " + @repo_info.owner["login"], @repo_info.owner["html_url"] %>
<br>
<%= link_to "Github Repo", @repo_info.html_url %>
<%= link_to "Edit Project", edit_project_url %>
