<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="repo-name text-warning">
        <%= @repo_info.name %>
      </h2>
      <hr>
      <div class="btn-group">
        <a href="<%= @repo_info.owner["html_url"] %>" class="btn btn-info">Owner: <%= @repo_info.owner["login"] %></a>
        <a href="<%= @repo_info.html_url %>" class="btn btn-default">Repo <i class="fa fa-github-alt"></i></a>
      </div>
      <br>
      <p class="text text-success">
        <%= @project.description %>
      </p>
      <br>

      <div class="btn-group">

        <% if current_user == @project.user %>
        <%= link_to "Edit Project", edit_project_url, class: "btn btn-primary btn-sm" %>

        <%= link_to "Delete Project", project_url(@project), method: :delete, class: "btn btn-danger btn-sm" %>
        <% end %>
        <% unless current_user == @project.user %>
          <a href="<%= new_message_path(to: @project.user.id) %>" class="btn btn-default btn-sm">Contact Owner <i class="fa fa-paper-plane"></i></a>

        <% end %>
      </div>


      <div id="disqus_thread"></div>
    </div>
  </div>
</div>
